
a {
    text-decoration: none !important;
}

.root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    zIndex: 1;
    overflow: auto;
    position: relative;
    display: flex;
}

.appBar {
    z-index: 1201 !important;
}

.drawerPaper {
    position: relative;
    width: 240px;
    padding-top: 80px;
}

.content {
    flex-grow: 1;
    background-color: white;
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
    padding-left: 240px;
    min-width: 0px; // So the Typography noWrap works
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.ant-spin-container {
    overflow:scroll;
    height:540px;
}

.scroll-text {
    overflow:scroll;
    height:200px;
}

/*.PanelTitle {*/
    /*width : 120px;*/
/*}*/

.circle {
     width: 140px;
     height: 140px;
     background: #8fb8ff;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    line-height: 140px;
    text-align: center;

    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;

}

/*.ant-card.ant-card-bordered {*/
    /*width:200px !important;*/
/*}*/


/*.ant-avatar > * {*/
    /*line-height : 140px !important;*/
/*}*/

.WrapperDefined {
    font-size: 45px;
}

.ChartRow {
    padding-left: 0 !important;
}

.content-container {
    padding-top: 74px;
}

.keywordCircle.ant-card-body {
    padding: inherit !important;
}

.textUnderCircle {
    text-align: center;
}

.filter-list {
    margin: auto;
    width: 300px;
    background: #3498db;
    border-radius: 5px;
    border: 1px;
}

.filter-list >  input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    font-size: 24px;

}

.scrollSearch {
    overflow:scroll;
    height: 440px;
}

