a {
    text-decoration: none !important;
}

/* apply font to every element */
* {
    font-family: Avenir-Heavy;
}

.root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    zIndex: 1;
    overflow: auto;
    position: relative;
    display: flex;
}

.appBar {
    z-index: 1201 !important;
}

.drawerPaper {
    position: relative;
    width: 240px;
    padding-top: 80px;
}

.content {
    flex-grow: 1;
    background-color: white;
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
    padding-left: 240px;
    min-width: 0px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.header {
    font-size: 24px;
    color: white;
}

.ant-spin-container {
    overflow: auto;
    height: 540px;
}

.scroll-text {
    overflow: auto;
    height: 200px;

    /* preserve original line breaks */
    white-space: pre-wrap;
}

.stats-card {
    height: 250px;
    overflow: hidden;

    margin: 10px !important;

}

.search-card {
    margin-top: 10px !important;
    min-width: 100%;
    width: 100%;
    height: 520px;
    min-height: 520px;
}


.panel-circle {
    background: #8fb8ff;

    height: 12.5vw; /*change this and the width
    for the size of your initial circle*/
    width: 12.5vw;

    min-width: 150px;
    min-height: 150px;

    text-align: center;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
/*    padding: 20%;
*/
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;

}

.rank-badge {
    background-color: #1890ff !important;
}



.WrapperDefined {
    font-size: 45px;
}

.ChartRow {
    padding-left: 0 !important;
}

.content-container {
    min-width: 1000px !important;
    padding-top: 34px;
    min-height: 100vh;
}


.textUnderCircle {
    text-align: center;
    font-family: Avenir-Book;
    font-size: 14px;
    color: #9B9B9B;

    display: block;
}

.filter-list {
    margin: auto;
    width: 300px;
    background: #3498db;
    border-radius: 5px;
    border: 1px;
}

.filter-list > input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    font-size: 24px;

}

.scrollSearch {
    overflow: auto;
    height: 100%;
    max-height: 460px;
}

.panelTitle  {
    text-align: center;
    vertical-align: middle;
}

/* overwrite ant-card styles */

.stats-card > .ant-card-head {
    background-color: #50E3C2 !important;

    .ant-card-head-title {
        color: white !important;
        text-align: center;
    }
}

.card-center {
    width: 100%;
}

.card-main-text {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.mod-card-text {
    text-align: center;
    font-weight: 600;
}


.percentage-tag {
    opacity: 0.63 !important;
    border: 1px solid #50E3C2 !important;
    border-radius: 100px !important;
    display: block !important;

    margin: 0 20% !important;

    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    text-align: center;
}

.panel-title {
    font-size: 20px;
    line-height: 40px;
}

.mods-stat-text {
    font-size: 16px;
    font-weight: 300 !important;
    line-height: 40px;
}

.main-panel {
    min-height: 500px;
}

.custom-dot-badge {
    margin-right: 2px !important;
}

.ant-list-item-meta-title {
    a {
        color: rgba(0, 0, 0, 0.65);
    }
}
/* custom list styles */

.custom-list-item {
    /* Rectangle 9 Copy 50: */
    border-radius: 100px;
    border: 1px solid #C5C5C5 !important;
    margin: 3px 4px !important;
    padding: 2px 0px !important;

    transition: all 0.2s ease;

    text-overflow: ellipsis;
    overflow: hidden;

    .custom-item-badge {
        sup {
            background: #50E3CD;
            margin-top: 3px !important;
            margin-left: 1px !important;
        }
    }

    .custom-avatar {
        background: #50E3CD;
    }
}

.custom-list-item.mod-list-item {
    border-radius: 20px;
    border: 1px solid transparent !important;
    margin: 3px 4px !important;
    padding: 2px 0px !important;
}

.custom-list-item:hover {
    background-color: #50E3CD !important;

    border: 1px solid transparent !important;

    h4 {
        color: white !important;
    }


    .custom-item-badge {
        sup {
            background: white;
            color: #50E3CD;
            margin-top: 3px !important;
            margin-left: 1px !important;
        }
    }

    .custom-avatar {
        color: #50E3CD;
        background: white;
    }
}

.custom-item-badge {
    min-width: 30.5px;
    sup {
        background: #50E3CD;
    }
}

/* custom tab style */

.custom-tab-group {
    display: block !important;
    text-align: center;
}

.custom-tab {
    border-color: transparent !important;
    border-color: #C5C5C5 !important;
}

.custom-tab:hover {
    color: black !important;
}

.custom-tab:first-child {
    border-radius: 20px 0 0 20px !important;
    border-color: #C5C5C5 !important;
}

.custom-tab:last-child {
    border-radius: 0 20px 20px 0 !important;
    border-color: #C5C5C5 !important;
}

.custom-tab.ant-radio-button-wrapper-checked {
    background-color: #50E3CD !important;
    color: white !important;
    border-color: #C5C5C5 !important;

    box-shadow: 0px 0 0 0 transparent!important;
}

.custom-mod-tab-group {
    .ant-tabs-tab {
        border-color: transparent !important;
        border-color: #C5C5C5 !important;
        color: black !important;
    }


/*    .ant-tabs-tab:first-child {
        border-radius: 20px 0 0 20px !important;
        border-color: #C5C5C5 !important;
    }

    .ant-tabs-tab:last-child {
        border-radius: 0 20px 20px 0 !important;
        border-color: #C5C5C5 !important;
    }*/

    .ant-tabs-tab-active {
        background-color: #50E3CD !important;
        color: white !important;
        border-color: #C5C5C5 !important;
    }
}
/* mod info styles */

.mod-field {
    font-weight: 600;
}

.mod-value {
    font-family: Avenir-Book;
    font-weight: 300;
}


