.root {
    flex-grow: 1;
    height: 430px;
    zIndex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.appBar {
    z-index: 1201 !important;
}

.drawerPaper {
    position: relative;
    width: 240px;
}

.content {
    flex-grow: 1;
    background-color: white;
    padding-top: 100px;
    padding-left: 240px;
    min-width: 0px; // So the Typography noWrap works
}